
nav{
    width: 1180px;
    margin: 0 auto;
}
.box__layout{
    width: 1180px;
    margin: 0 auto;
    margin-top: 70px;
}
img{
    width: 100%;
}
.logo{
    width: 78.08px;
    height: 28.49px;
}
.container{
    display: flex;
    justify-content: space-between;
}
.nav_items ul {
    display: flex;
    list-style: none;
    gap: 15px;
}
.nav_items ul li{
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}

.btn{
    width: 102px;
    height: 51px;
    border: 1px solid #6C63FF;
    border-radius: 2px;
    background-color: transparent;
    font-weight: 700;
    font-size: 14px;
    color: #6C63FF;
}
.btn.full{
    background-color: #6C63FF;
    color: white;
}
.col-6{
    width: 45%;
}
.header{
    font-weight: 700;
    font-size: 86px;
    line-height: 88px;
    letter-spacing: -1px;
    color: #2F2E41;
}
.paragraph{
    font-size: 20px;
    line-height: 34px;
    color: #9893A3;
}
.partners{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.partners_list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 97px;
}
.partners_list ul{
    list-style: none;
    display: flex;
    gap: 97px;
}
.examination{
    width: 1180px;
    margin: 0 auto;
    margin-top: 220px;
}
.examination_head_text{
    font-weight: 700;
    font-size: 60px;
    line-height: 64px;
    letter-spacing: -1px;
    color: #2F2E41;
}
.examination_paragraph{
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    color: #9893A3;
}
.learn_more a{
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -1px;
    text-decoration: none;
    color: #2F2E41;
    border: 10px solid rgba(197, 194, 255, 0.5);
}
.creative{
    width: 1180px;
    margin: 0 auto;
    margin-top: 220px;
}
.creative_solutions{
    font-weight: 700;
    font-size: 60px;
    line-height: 64px;
    letter-spacing: -1px;
    color: #2F2E41;
}
.creative_paragraph{
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    color: #9893A3;
}
.proffesional{
    width: 1180px;
    margin: 0 auto;
    margin-top: 220px;
}
.proffesional_team{
    font-weight: 700;
    font-size: 60px;
    line-height: 64px;
    letter-spacing: -1px;
    color: #2F2E41;
}
.proffesional_paragraph{
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    color: #9893A3;
}
.plans{
    width: 1180px;
    margin: 0 auto;
}
.plans_header_text{
    display: flex;
    justify-content: center;
    margin-top: 220px;

}
.plans_header_text h1{
    letter-spacing: -1px;
    font-weight: 700;
    font-size: 60px;
    line-height: 64px;
    color: #2F2E41;
}
.pricing_cards{
    height: 502px;
    display: flex;
    align-items: center;
    margin-top: 90px;
}

.card_starter{
    display: block;
    width: 363px;
    height: 421px;
    text-align: center;
    background: rgba(236, 235, 255, 0.3);
    border-radius: 2px;
}
.card_premium{
    display: block;
    width: 363px;
    height: 502px;
    text-align: center;
    background: #6C63FF;
    border-radius: 2px;
}
.card_enterprise{
    display: block;
    width: 363px;
    height: 421px;
    text-align: center;
    background: rgba(236, 235, 255, 0.3);
    border-radius: 2px;
}
.starter_head_text{
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #717082;
}
.starter_price{
    font-weight: 700;
    font-size: 50px;
    line-height: 56px;
    letter-spacing: -2px;
    color: #2F2E41;
}
.starter_benefits{
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #717082;
    padding: 0;
    
}
.starter_btn{
    padding: 16px 30px;
}
.premium_head_text{
    padding-top: 36px;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
}
.premium_price{
    font-weight: 700;
    font-size: 50px;
    line-height: 56px;
    color: #FFFFFF;
    padding-top: 36px;
}
.premium_price span{
    font-size: 18px;
    font-weight: 400;
}
.premium_benefits{
    padding-top: 22px;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: rgba(255, 255, 255, 0.8);
}
.premium_btn{
    padding-top: 36px;
}
.premiumbtn{
    background-color: white;
    color:#6C63FF;
}
.enterprise_head_text{
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #717082;
}
.enterprise_price{
    font-weight: 700;
    font-size: 50px;
    line-height: 56px;
    margin: 50px 50px;
    color: #2F2E41;
}
.enterprise_price span{
    font-size: 18px;
    font-weight: 400;
}
.enterprise_benefits{
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #717082;
}
.enterprise_benefits span{
    color:#2F2E41
}
.enterprise_btn{
    padding: 16px 30px;
}
.blog{
    width: 1180px;
    margin: 0 auto;
}
.blog_box{
    margin-top: 90px;
    gap: 45px;
}
.blogheader{
    height: 64px;
    margin-top: 220px;
    
}
.blogbtn{
    display: flex;
    justify-content: right;
    align-items: center;
}
.blog_text{
    width: 384px;
    height: 64px;
}
.blog_text h1{
    margin: 0;
    font-weight: 700;
    font-size: 60px;
    line-height: 64px;
}
.col-4{
    width: 33%;
}
.col-4 h1{
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: -1px;
    color: #2F2E41;
}
.col-4 p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #9893A3;
}
.banner{
    width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.banner_background{
    width: 900px;
    height: 296px;
    background: #2F2E41;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner_items{
    width: 732px;
    height: 128px;
}
.banner_items_text h1{
    font-weight: 700;
    font-size: 50px;
    line-height: 56px;
    color: #FFFFFF;
    margin: 0;
}
.banner_button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_items{
    width: 1440px;
    height: 598px;
    margin: 0 auto;
    background-color: rgba(236, 235, 255, 0.6);
    position:relative;
    margin-top: 68px;
}
.inside_footer{
    width: 900px;
    height: 212.55px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.footer_item_1{
    padding: 0;
    width: 97px;
    height: 206px;
    display: flex;
    justify-content: left;
}
.footer_item_1 ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer_item_1 ul li{
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #717082;
}
.footer_item_1 ul span li{
    color: #2F2E41;
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 12px;
}
.footer_item_2{
    padding: 0;
    width: 97px;
    height: 206px;
    display: flex;
    justify-content: left;
}
.footer_item_2 ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer_item_2 ul li{
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #717082;
}
.footer_item_2 ul span li{
    color: #2F2E41;
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 12px;
}
.footer_item_3{
    padding: 0;
    width: 97px;
    height: 206px;
    display: flex;
    justify-content: left;
}
.footer_item_3 ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer_item_3 ul li{
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #717082;
}
.footer_item_3 ul span li{
    color: #2F2E41;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 12px;
}
.footer_item_4{
    padding: 0;
    width: 97px;
    height: 206px;
    display: flex;
    justify-content: left;
}
.footer_item_4 ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer_item_4 ul span li{
    color: #2F2E41;
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 12px;
}
.footer_item_4_logos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120px;
    height: 32px;
    margin-top: 18px;
}
.footer_below_banner{
    width: 1280px;
    height: 23.3px;
    position: absolute;
    bottom: 40px;
    padding-left: 80px;
    padding-right: 80px;
}
.footer_banner_copyright p{
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #9893A3;
    margin: 0;
}



